<footer class="page-footer font-small bg-secondary pt-4">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center"></div>
        <ul class="social-network">
        <li>
            <a href="" target="_blank" class="icoFacebook"></a>
            <i class="fab fa-facebook"></i>
        </li>
        
        <li>
            <a href="" target="_blank" class="icoInstagram"></a>
            <i class="fab fa-instagram"></i>
        </li>
        
        <li>
            <a href="" target="_blank" class="icoLinkedin"></a>
            <i class="fab fa-linkedin"></i>
        </li>
        
        </ul>
        </div>

</div>
</footer>

<footer class="page-footer font-small bg-dark pt-4">
    <div align="center" style="color: white;">copyright © todos os direitos reservados</div>
    <footer class="page-footer font-small bg-dark pt-4"></footer>
</footer>
