<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
           <img width="50px" height="50px" src="http://1.bp.blogspot.com/-M7tvZzk8_wE/VB7qhFXW6tI/AAAAAAAANRE/F7I5BmzopFA/s1600/KOF%2B96%2B-%2BGolpes%2BClark.jpg" alt="" class="img-fluid rounded-circle">
          </li>
          <li class="nav-item p-3">
            <p class="m-0 fw-bold text-white fs-16">Nome do usuário</p>
            
          </li>
          <li class="nav-item">
              <a href=""><i class="fas fa-edit text-white fs-16"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0 d-flex align-items-center">
            
            <a class="m-0 fw-bold text-white fs-16" style="text-decoration:none;">Sair <i class="fas fa-sign-out-alt"></i></a>
            
        </ul>
      </div>
    </div>
  </nav>

