<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">



                <div class="col-md-10">
                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label class="mb-2" for="user">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                    </div>
                    <p></p>
                    <div class="form-group ">
                        <label class="mb-2" for="user">Usuário</label>
                        <input type="text" class="form-control" id="user" placeholder="Seu usuário">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label class="mb-2" for="user">Link da foto</label>
                        <input type="text" class="form-control" id="foto" placeholder="Link da sua foto">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label class="mb-2" for="user">Senha</label>
                        <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label class="mb-2" for="user">Confirmar senha</label>
                        <input type="password" class="form-control" id="senhaConf" placeholder="Confirme sua senha">
                    </div>
                    <p></p>
                    <div class="form-group">
                        <label class="mb-2" for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Selecione um tipo de usuário</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>
<p></p>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                        <div class="ms-4"></div>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>




                </div>


            </div>






        </div>



    </div>


</div>